# Replace @YOUR_GITHUB_ID and/or @YOUR_ORG/your-team with real owners.
# Example: * @plain

# Default owner for all files
* @YOUR_GITHUB_ID

# Release/compliance assets
.github/workflows/** @YOUR_GITHUB_ID
.github/pull_request_template.md @YOUR_GITHUB_ID
